<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinized</title>
  </head>
  <body>
    <h1>Your Pig Latinized Text:</h1>
    <h2> <%= @pig_latinized %></h2>
  </body>
</html>
