<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2><%= @piglatinized.to_pig_latin(params[:user_phrase]) %></h2>
  </body>
</html>
