<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here is your piglatinized text!</h1>
    <h2><%=@pl.to_pig_latin(@phrase)%></h2>
  </body>
</html>
