<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Pig Latinizer!</p>

    <form class="" action="/piglatinize" method="post">
      <h2>Enter your phrase:<input type="text" name="user_phrase" value=""></h2>
      <p><input type="submit" name="" value="submit"></p>
    </form>
  </body>
</html>
